@import '../colors';
@import '../fonts';

.post-card {
  display: block;
  text-decoration: none;
  transition: all 500ms;

  &:hover {
    transform: scaleX(1.02);
  }

  &:visited {
    text-decoration: none;
    color: $cloud-burst;
  }

  &__content {
    max-width: 820px;
    margin: 0 auto;
    padding: 7px;
  }

  &__title {
    font-size: 1rem;
    color: $cloud-burst;
    margin-bottom: 0;
  }

  &__date {
    font-family: $font-open-sans;
    font-size: 0.75rem;
    color: $haiti;
  }
}

html[data-theme="dark"] .post-card {
  &:visited {
    color: $catskill-white;
  }

  &__title {
    color: $catskill-white;
  }

  &__date {
    color: $cadet-blue;
  }
}
