@import '../breakpoints';
@import '../colors';
@import '../fonts';

.post {
  width: 100%;
  padding-top: 21px;
  @include device-is('tablet') {
    min-height: 50vh;
    background-image: url('/images/background-banner.svg');
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 170px;
  }

  &__container {
    max-width: 820px;
    margin: 0 auto;
    background-color: $white;
    padding: 14px;
    @include device-is('tablet') {
      padding: 14px 42px;
    }
  }

  &__date {
    font-family: $font-roboto;
    font-size: 0.875rem;
    font-weight: $font-light;
    color: $fiord;
    margin-bottom: 14px;
  }

  &__content {
    font-family: $font-roboto;
    font-weight: $font-normal;
    text-align: left;
  }
}

html[data-theme="dark"] .post {
  @include device-is('tablet') {
    background-image: url('/images/background-banner-dark.svg');
  }

  &__container {
    background-color: $charade;
  }

  &__date {
    color: $cadet-blue;
  }
}
