@import '../breakpoints';
@import '../colors';
@import '../fonts';

.post {
  width: 100%;
  padding-top: 21px;

  &__container {
    max-width: 820px;
    margin: 0 auto;
    background-color: $white;
    padding: 14px;
  }

  &__date {
    font-family: $font-roboto;
    font-size: 0.875rem;
    font-weight: $font-light;
    color: $fiord;
    margin-bottom: 14px;
  }

  &__content {
    font-family: $font-roboto;
    font-weight: $font-normal;
    text-align: left;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

html[data-theme="dark"] .post {
  @include device-is('tablet') {
    background-image: url('/images/background-banner-dark.svg');
  }

  &__container {
    background-color: $charade;
  }

  &__date {
    color: $cadet-blue;
  }
}
