.card {
  display: block;
  justify-content: flex-start;
  overflow: hidden;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-border);
  text-decoration: none;
  padding: 1rem;
  color: var(--color-text-primary);
  text-align: initial;
  transition: opacity 500ms, transform 500ms;
  background-color: var(--color-background);
  height: 100%;

  &:hover {
    transform: translate(7px, -7px);
  }
}

.card__background {
  background-color: var(--color-card-hover);
}

.card__title {
  font-family: $font-open-sans;
  font-weight: $font-semi-bold;
  font-size: 1.1875rem;
}

.card__subtitle {
  margin-top: 8px;
  font-size: .875rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
