<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  
  <!-- Title Tags -->
  <title itemprop='name'>{{ .Title }} | {{ .Site.Title }}</title>
  <meta property='og:title' content='{{ .Title }} | {{ .Site.Title }}' />
  <meta name='twitter:title' content='{{ .Title }} | {{ .Site.Title }}' />
  <meta itemprop='name' content='{{ .Title }} | {{ .Site.Title }}' />
  <meta name='application-name' content='{{ .Title }} | {{ .Site.Title }}' />
  <meta property='og:site_name' content='{{ .Site.Params.sitename }}' />

  {{ $sass := resources.Get "scss/main.scss" }}
  {{ $styleCSS := $sass | resources.ToCSS | resources.Minify | resources.Fingerprint "sha512" }}
  <link rel='stylesheet' href='{{ $styleCSS.RelPermalink }}'>

</head>
