{{ define "main" }}
<article role='article' class='post'>
  <div class='post__container'>
    <div class='post__date'>{{ .Date.Format "02/01/2006" }}</div>
    <h1 class='post__title'>{{ .Title }}</h1>
    {{ if gt .WordCount 500 }}
    <aside class='post__table-of-contents'>
      {{ .TableOfContents }}
    </aside>
    {{ end }}
    <article class='post__content slide-enter-content'>
      {{ .Content }}
    </article>
    <div class='post__actions'>
      <div>
        {{ $pages := where .Site.RegularPages "Section" "posts" }}
        {{ with $pages.Next . }}
        <a href='{{ .RelPermalink }}'>Précédent</a>
        {{ end }}
      </div>

      <a href='/'>Retour à la page d'accueil</a>

      <div>
        {{ with $pages.Prev . }}
        <a href='{{ .RelPermalink }}'>Suivant</a>
        {{ end }}
      </div>
    </div>
  </div>
</article>
{{ end }}
