$white: #fff;

$cloud-burst: #1C2541;
$haiti: #0B132B;
$fiord: #3A506B;
$fountain-blue: #5BC0BE;
$tree-poppy: #FF9F1C;
$yellow-orange: #FFAD3A;

// Dark color
$charade: #282B35;
$catskill-white: #E7ECF3;
$heater: #C6CFD9;
$cadet-blue: #A1B0C1;
