@import 'colors';
@import 'fonts';

*, :after, :before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: $font-roboto;
  color: $cloud-burst;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $white;
}

html[data-theme="dark"] body {
  background-color: $charade;
}

@import 'syntax/monokai_light';

html[data-theme="dark"] {
  @import 'syntax/monokai';
}

.highlight {
  margin: 16px 0;
}

.chroma {
  padding: 8px;
  overflow-y: hidden;
}

#TableOfContents ul {
  list-style: none;
  padding-left: 1.5rem;
  line-height: 2;
}

#TableOfContents > ul {
  padding-left: 1rem;
}

#TableOfContents a {
  color: $fiord;
  display: inline-block;
  transition: all 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000);

  &.active {
    color: $haiti;
    transform: translate(5px);
  }
}

html[data-theme="dark"] {
  #TableOfContents a {
    color: $cadet-blue;

    &.active {
      font-weight: 450;
      color: $heater;
    }
  }
}
