@import 'breakpoints';
@import 'colors';
@import 'fonts';

h1 {
  font-family: $font-open-sans;
  font-weight: $font-normal;
  color: var(--color-text-secondary);
  margin-bottom: 21px;
  font-size: 1.8rem;

  @include device-is('tablet') {
    font-size: 2rem;
  }
}

h2 {
  font-family: $font-open-sans;
  font-weight: $font-bold;
  font-size: 1.5rem;
  color: var(--color-text-primary);
  margin-bottom: 0.875rem;
}

h3 {
  font-family: $font-open-sans;
  font-weight: $font-bold;
  font-size: 1.1875rem;
  color: var(--color-text-primary);
  margin-bottom: 0.875rem;
}

p {
  font-family: $font-roboto;
  font-weight: $font-normal;
  font-size: 1rem;
  line-height: 1.6rem;
  color: var(--color-text-primary);
  margin: 10px 0 20px;

  img {
    display: block;
    width: 100%;
  }
}

ul {
  padding-left: 35px;
}

li {
  font-family: $font-roboto;
  font-weight: $font-normal;
  font-size: 1rem;
  line-height: 1.6rem;
  color: var(--color-text-primary);
}

a {
  color: var(--color-text-secondary);

  &:visited {
    color: var(--color-text-secondary);
  }

  &:hover {
    color: var(--color-text-secondary);
  }
}

figcaption {
  margin-top: .5rem;
  text-align: center;
  color: var(--color-text-secondary);
  font-size: 0.8rem;
}


code {
  position: relative;
  display: inline-block;
  z-index: 0;

  &::before {
    position: absolute;
    top: 0.1em;
    left: 0;
    right: 0;
    bottom: 0.1em;
    background-color: #fafafa;
    content: "";
    z-index: -1;
  }
}

html[data-theme="dark"] {
  code {
    position: relative;
    display: inline-block;
    z-index: 0;

    &::before {
      position: absolute;
      top: 0.1em;
      left: 0;
      right: 0;
      bottom: 0.1em;
      background-color: #272822;
      content: "";
      z-index: -1;
    }
  }
}
