@import 'breakpoints';
@import 'colors';
@import 'fonts';
@import 'globals';
@import 'text';

// Default
@import '_default/post-card';
@import '_default/single';

// Partials
@import 'partials/comments';
@import 'partials/header';

// Shortcodes
@import 'shortcodes/cards';
@import 'shortcodes/card';

// Pages
@import 'pages/index';
@import 'pages/post';


@keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html:not(.no-sliding) [slide-enter],
  html:not(.no-sliding) .slide-enter,
  html:not(.no-sliding) .slide-enter-content > *:not(:has(.table-of-contents)) {
    --enter-stage: 0;
    --enter-step: 60ms;
    --enter-initial: 0ms;

    animation: slide-enter 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
    animation-delay: calc(
            var(--enter-initial) + var(--enter-stage) * var(--enter-step)
    );
  }

  .slide-enter-content {
    $element: 100;
    @for $i from 1 to $element {
      > *:nth-child(#{$i}) {
        --enter-stage: #{$i} !important
      }
    }
  }
}